:root {
  --primary-brand: #4d5ae5;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white-color: #ffffff;
  --focus-color: #404bbf;
  --row-gap: 48px;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--white-color);
  font-weight: 400;
  font-size: 16;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  font-style: normal;
  text-decoration: none;
  color: inherit;
}
.link:hover,
.link:focus {
  color: var(--focus-color);
}
.list {
  list-style: none;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--dark);
}
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}
.btn:hover,
.btn:focus {
  background-color: var(--focus-color);
  color: var(--white-color);
}
.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*---------------------HEADER-------------------------*/
.header {
  border-bottom: 1px solid var(--accent);
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-navigation {
  display: flex;
}
.header-logo {
  color: var(--dark);
  line-height: 1.33;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.focus-logo {
  color: var(--primary-brand);
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark);
}
.header-link,
.contact-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.current {
  color: var(--focus-color);
}
.contacts {
  display: flex;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-item {
  list-style: 1.5;
  color: var(--text);
}
/*---------------------HERO---------------------------*/
.hero {
  background: var(--dark);
  color: var(--white-color);
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--white-color);
  max-width: 494px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.modal-btn {
  background: var(--primary-brand);
  color: inherit;
  padding: 16px 32px;
  min-width: 169px;
  min-height: 56px;
  margin-left: auto;
  margin-right: auto;
}
/*---------------------MiSSION---------------------------*/
.mission {
  padding-top: 120px;
}
.mission-list {
  display: flex;
  justify-content: space-between;
}
.mission-item {
  width: 264px;
}
.mission-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark);
  margin-bottom: 8px;
}
.mission-item-suptitle {
  line-height: 1.5;
  color: var(--text);
}
/*---------------------PRACTICE---------------------------*/
.practice-title {
  width: 323px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.practice-list {
  display: flex;
  gap: 24px;
}
.practice-item {
  width: 360px;
  height: 300px;
}
/*---------------------TEAM---------------------------*/
.team {
  background: var(--light);
}
.team-title {
  width: 162px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-empl {
  display: block;
  height: 380px;
  background: var(--white-color);
  width: calc((100% - 72px) / 4);
}
.team-content {
  width: 232px;
  margin: 32px 16px;
  text-align: center;
}
.team-empl-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark);
  margin-bottom: 8px;
}
.team-empl-fncn {
  line-height: 1.5;
  color: var(--text);
}
/*---------------------PROJECTS-------------------------*/
.projects {
}
.select-projects-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.select-item {
}
.select-btn {
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background-color: var(--light);
  border: 1px solid var(--accent);
  padding: 12px 24px;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.projects-item {
  background: var(--white-color);
  flex-basis: calc((100% - 48px) / 3);
}
.projects-item-content {
  background-color: var(--white-color);
  border-left: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
  border-right: 1px solid var(--accent);
  padding: 32px 0 32px 16px;
}
.projects-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark);
}
.project-item-select {
  line-height: 1.5;
  color: var(--text);
}
/*---------------------FOOTER---------------------------*/
.footer {
  background: var(--dark);
  line-height: 1.5;
  color: var(--accent);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-action {
  width: 264px;
}
.footer-logo {
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--light);
  display: block;
  margin-bottom: 16px;
}
.footer-slogan {
  line-height: 1.5;
  color: var(--accent);
}
